{{!-- debe tener la misma estructura que home.handlebars porque va a mostrar la lista de productos --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
        <h1>Ingreso de productos</h1>
    <form id="productForm"> 
        <label for="producto">Producto</label>
        <input type="text" id="producto">
        <label for="descripcion">Descripción</label>
        <input type="text" id="descripcion">
        <label for="valor">Precio</label>
        <input type="text" id="valor">
        <label for="id">Código id:</label>
        <input type="text" id="id">
        <button type="submit">Agregar Producto</button>
    </form>

<h1>Lista de Productos</h1>
    <div id="productList">
    <table>
        <thead>
            <tr>
            <th>Producto</th>
            <th>Descripción:</th>
            <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{producto}}</td>
                <td>{{descripcion}}</td>
                <td>${{valor}}</td>
                <td>{{id}}</td>
            </tr>
            {{/each}} {{!-- Súper importante, no me funcionaba la tabla porq no había cerrado el each --}}
            
        </tbody>
    </table>
</div>
</body>
</html>



